.superlink{
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    


    .link{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between; // separando a logo com os links


        .logo{
            height: 2rem;
            width: auto;
        }

        ul {
            display: flex;
            
            li, a {
                color: var(--white);
                padding: 0rem 0.8rem;
                text-decoration: none;
            }

            ul,li:nth-child(3){ // colando o traço entre os links
                 border-right:0.1rem solid var(--white);
            }
            
            
        }
    }
	
    

}